# Desafío Variables
### Nombre: Thomas Peet
### Generación: G47
### Profesores: Alfonso Tobar - Juan Pablo Ramírez
### Fecha: 30-06-2022

# Descripción

La empresa en la cual usted trabaja tiene como solicitud el análisis del Índice de Desarrollo Humano (IDH) de diversos países para elaborar un informe para el Ministerio de Relaciones Exteriores a fin de poder contar con la data necesaria para poder comenzar a trabajar en relaciones diplomáticas más estrechas con diversos países. Para ello, usted queda a cargo de poder revisar la base de datos Quality of Government, de la Universidad de Gotemburgo.

Las unidades de medición en esta base corresponden a 194 países, recolectando los últimos datos de enero del 2018. Además, se le recuerda que la base de datos es un compendio de alrededor de 1900 variables que miden las causas y consecuencias de un buen gobierno en materias económicas, salud pública, medio ambiente, salud institucional, corrupción, entre otras.

## 1. Genere una muestra de casos (1 punto). Para ello debes considerar:
* Utilice los últimos 4 dígitos de su rut como semilla pseudoaleatoria.
* Seleccione el 50% de los casos.  
* Cada base generada debe contener los siguientes elementos:  
    - El índice de desarrollo humano (undp_hdi).  
    - El nombre del país (ccodealp).  
    - La región a la que pertenece (ht_region).  
    - El PIB per cápita. (gle_cgdpc).  
    - El total de la población (imf_pop).  
* Si su apellido está entre la A y la M, escoja las siguientes variables del módulo
Educación:   
    - ffp_hf: Human Flight and Brain Drain.  
    - wef_qes: Quality of the educational system.  
    - wdi_expedu: Government expenditure on education, total (% of GDP).  
    - wdi_ners: School enrollment, secondary (% net).  
* Si su apellido está entre la N y la Z, escoja las siguientes variables del módulo
Salud:  
    - wef_imort: Infant mortality, deaths/1000 live births.  
    - who_alc2000: Alcohol consumption per capita (2000-).  
    - who_tobt: Current smoking of any tobacco product (Total).  
    - wdi_exph: Government expenditure on health, total (% of GDP).  
    - Guarde esta tabla procesada en un nuevo objeto.  
    - Renombre las categorías de la variable ht_region de números a regiones.

In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('qog_std_cs_jan18.csv')

In [98]:
df

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan18,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan18,NaN,NaN,26.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan18,NaN,NaN,21.0,6.0,...,3.710616,1.704692,3.681347,5.988125,6.301029,5.339371,3.805579,-0.409807,-0.498164,0.179286
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan18,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,UZB,704.0,860.0,QoGStdCSJan18,NaN,NaN,21.0,16.0,...,3.247667,2.191377,2.171875,4.076407,7.888145,5.364856,3.950634,NaN,NaN,0.140921
190,862,Venezuela,VEN,101.0,862.0,QoGStdCSJan18,NaN,NaN,20.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,WSM,990.0,882.0,QoGStdCSJan18,NaN,NaN,10.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,YEM,679.0,887.0,QoGStdCSJan18,NaN,NaN,26.0,16.0,...,3.598178,1.697442,3.752032,4.671357,5.887310,3.384707,3.892000,-0.591479,-0.875164,0.403987
193,894,Zambia,ZMB,551.0,894.0,QoGStdCSJan18,NaN,NaN,22.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Columns: 1882 entries, ccode to wvs_trust
dtypes: float64(1855), int64(22), object(5)
memory usage: 2.8+ MB

In [100]:
df_work = df[['undp_hdi', 'ccodealp', 'gle_cgdpc', 'imf_pop', 'wef_imort',  'who_alc2000', 'who_tobt', 'wdi_exph', 'ht_region']]

In [101]:
df_work['ht_region']

0      8
1      1
2      3
3      5
4      4
      ..
189    1
190    2
191    9
192    3
193    4
Name: ht_region, Length: 194, dtype: int64

In [102]:
df.dtypes

ccode             int64
cname            object
ccodealp         object
ccodecow        float64
ccodewb         float64
                 ...
wvs_screl       float64
wvs_subh        float64
wvs_survself    float64
wvs_tradrat     float64
wvs_trust       float64
Length: 1882, dtype: object

In [103]:
lista_modificar = [1,2,3,4,5,6,7,8,9,10]
lista_nuevos_nombres = ['EastEurope', 'LatAm', 'NorthAfrica','SubSaharian','WesternDem','EastAsia','SouthEastAsia','SouthAsia','Pacific','Caribbean']
df_work['ht_region'] = df_work['ht_region'].replace(lista_modificar,lista_nuevos_nombres)
df_work

C:\Users\tomas\AppData\Local\Temp\ipykernel_25024\464506640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_work['ht_region'] = df_work['ht_region'].replace(lista_modificar,lista_nuevos_nombres)

,undp_hdi,ccodealp,gle_cgdpc,imf_pop,wef_imort,who_alc2000,who_tobt,wdi_exph,ht_region
0,0.479,AFG,1282.6400,29.825001,NaN,0.010000,NaN,8.182274,SouthAsia
1,0.762,ALB,8516.7002,NaN,15.000000,4.510000,29.700001,5.883105,EastEurope
2,0.743,DZA,5402.1699,39.113998,17.200001,0.530000,NaN,7.207178,NorthAfrica
3,0.857,AND,32367.3300,NaN,NaN,9.979999,33.099998,8.127135,WesternDem
4,0.531,AGO,3771.2000,25.789000,99.500000,8.330000,NaN,3.306983,SubSaharian
...,...,...,...,...,...,...,...,...,...
189,0.697,UZB,7370.7202,29.746000,NaN,2.830000,13.300000,5.838522,EastEurope
190,0.769,VEN,10513.9600,NaN,13.100000,6.470000,NaN,5.256702,LatAm
191,0.702,WSM,3167.7500,0.192000,NaN,2.150000,32.000000,7.215109,Pacific
192,0.499,YEM,2170.9299,NaN,46.299999,0.040000,NaN,5.636990,NorthAfrica
193,0.576,ZMB,1916.7900,NaN,56.400002,2.410000,15.900000,4.986765,SubSaharian

### Selección del 50% de los datos

In [104]:
last_4_digits_rut = 5801
df_work_sample = df_work.sample(frac = 0.5,random_state = last_4_digits_rut)

## 2. Genere una función que ingrese su objeto y devuelva lo siguiente (2 puntos):
- Por cada variable existente en su objeto, calcule las medidas descriptivas para
los casos continuos.
- Para cada variable discreta, que calcule la frecuencia.
- Reporte las estadísticas descriptivas para gle_cgdpc, undp_hdi, imf_pop.
- Compare las estadísticas con algún compañero. ¿Ve alguna diferencia
sustancial en alguna de ellas?

In [105]:
df_work_sample.head()

,undp_hdi,ccodealp,gle_cgdpc,imf_pop,wef_imort,who_alc2000,who_tobt,wdi_exph,ht_region
49,0.724,DMA,12613.7200,NaN,NaN,5.46,NaN,5.485833,Caribbean
188,0.794,URY,12804.8400,3.454000,6.200000,6.03,24.799999,8.581491,LatAm
175,0.836,ARE,20310.1090,NaN,7.200000,1.91,NaN,3.643986,NorthAfrica
25,0.552,MMR,5733.3701,51.418999,41.099998,0.70,20.000000,2.275755,SouthEastAsia
115,0.645,MAR,3999.5601,33.179001,26.799999,0.43,22.000000,5.907778,NorthAfrica

In [106]:
df_work_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 49 to 90
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   undp_hdi     91 non-null     float64
 1   ccodealp     97 non-null     object
 2   gle_cgdpc    96 non-null     float64
 3   imf_pop      73 non-null     float64
 4   wef_imort    76 non-null     float64
 5   who_alc2000  90 non-null     float64
 6   who_tobt     66 non-null     float64
 7   wdi_exph     96 non-null     float64
 8   ht_region    97 non-null     object
dtypes: float64(7), object(2)
memory usage: 7.6+ KB

In [107]:
df_work_sample.select_dtypes(np.number).mean()

undp_hdi           0.690154
gle_cgdpc      14191.922462
imf_pop           23.603945
wef_imort         25.182034
who_alc2000        4.960889
who_tobt          23.056061
wdi_exph           6.710499
dtype: float64

In [108]:
df_work_sample.select_dtypes(object).describe()

       ccodealp    ht_region
count        97           97
unique       97           10
top         DMA  SubSaharian
freq          1           27

In [109]:
def description(df):
    for _,val in df.iteritems():
        print(f'Variable: {val.name}')
        print(val.describe())
        print('*************\n')

In [110]:
description(pd.DataFrame(df_work.select_dtypes(object)))

Variable: ccodealp
count     194
unique    194
top       AFG
freq        1
Name: ccodealp, dtype: object
*************

Variable: ht_region
count             194
unique             10
top       SubSaharian
freq               49
Name: ht_region, dtype: object
*************

In [111]:
description(df_work)

Variable: undp_hdi
count    186.000000
mean       0.695801
std        0.155289
min        0.347000
25%        0.567500
50%        0.726500
75%        0.804750
max        0.948000
Name: undp_hdi, dtype: float64
*************

Variable: ccodealp
count     194
unique    194
top       AFG
freq        1
Name: ccodealp, dtype: object
*************

Variable: gle_cgdpc
count       192.000000
mean      14279.040530
std       17914.921331
min         324.160000
25%        2614.187525
50%        7884.719750
75%       19239.776500
max      108481.130000
Name: gle_cgdpc, dtype: float64
*************

Variable: imf_pop
count    145.000000
mean      27.479697
std       48.733842
min        0.011000
25%        2.001000
50%        8.132000
75%       30.770000
max      318.789001
Name: imf_pop, dtype: float64
*************

Variable: wef_imort
count    150.000000
mean      24.086897
std       23.695903
min        1.700000
25%        5.725000
50%       14.850000
75%       38.525000
max      117.400002
Name: wef_imort, dtype: float64
*************

Variable: who_alc2000
count    182.000000
mean       4.949341
std        3.837475
min        0.000000
25%        1.392500
50%        4.285000
75%        8.322500
max       15.190000
Name: who_alc2000, dtype: float64
*************

Variable: who_tobt
count    124.000000
mean      23.285484
std        9.244042
min        4.700000
25%       16.299999
50%       23.100001
75%       29.450000
max       54.000000
Name: who_tobt, dtype: float64
*************

Variable: wdi_exph
count    190.000000
mean       6.783759
std        2.797085
min        1.475303
25%        4.893933
50%        6.364770
75%        8.439378
max       17.140755
Name: wdi_exph, dtype: float64
*************

Variable: ht_region
count             194
unique             10
top       SubSaharian
freq               49
Name: ht_region, dtype: object
*************

#### **Comentarios**
(Comentamos las tendencias de las columnas solicitadas)